/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//Se definen variables de colores.

/**
 * Colores corporativos.
 */

 $negro:#000;
 $blanco: #fff;
 
 /**
  * Redes sociales.
  */
 
 $fb: #3a5795;
 $ig: #c13584;
 $wsp: #25d366;
 
 /**
  * Colores generales.
  */
 
 $enlace: #008ae0;